$primary: hsl(202, 34%, 15%);
$primary--light: lighten($primary, 15%); 
$primary--dark: darken($primary, 15%); 
$secondary: hsl(208, 100%, 60%);
$secondary--light: lighten($secondary, 15%); 
$third: hsl(233, 22%, 84%);
$fourth: hsl(23, 82%, 65%);
$fourth--dark: darken($fourth, 15%);
$fourth--light: lighten($fourth, 15%); 

/* gray scale*/

$gray--lighter : hsl(0, 0%, 95%); 
$gray-1: darken($gray--lighter, 20%);
$gray-2: darken($gray-1, 20%);
$gray-3: darken($gray-2, 20%);
$gray--darker : darken($gray-3, 20%);