.card {
  background-color: $gray--darker;
  margin: 0 calcRem(8px) calcRem(8px) calcRem(8px);
  border-radius: calcRem(4px);
  padding: calcRem(16px) calcRem(16px) calcRem(25px) calcRem(16px);
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}
.card__title {
  font-size: calcRem(17px);
  color: $gray--lighter;
  margin: 0 0 calcRem(8px) 0;
  font-weight: 400;
}
.card__paragraph {
  margin-top: calcRem(8px);
  margin-bottom: 0;
  font-size: calcRem(15px);
  &--centered {
    text-align: center;;
  }
}
.card__link {
  color: $third;
}

.card__cluster {
  padding: calcRem(8px) calcRem(8px) calcRem(8px) calcRem(12px);
  border-radius: calcRem(6px);
  border: solid $fourth calcRem(1px);
  font-size: calcRem(14px);
}
.card__emphasis {
  font-size: calcRem(15px);
  font-weight: 600;
  line-height: calcRem(20px);
  color: $fourth--light;
}
