.card {
  background-color: $gray--darker;
  margin: 0 calcRem(8px) calcRem(8px) calcRem(8px);
  border-radius: calcRem(4px);
  padding: calcRem(16px) calcRem(16px) calcRem(25px) calcRem(16px);
  display: flex;
  flex-direction: column;
}
.card__title {
  font-size: calcRem(16px);
  color: $gray--lighter;
  margin: 0 0 calcRem(8px) 0;
  font-weight: 400;
}
.card__paragraph {
  margin-top: 0;
  margin-bottom: 0;
  font-size: calcRem(14px);
}