.hero {
  width: calcRem(376px);
  width: 100%;
  height: calcRem(184px);
  margin: 0 auto calcRem(8px);
  background-color: $gray--darker;
}
.hero__menu {
  width: calcRem(25px);
  height: calcRem(20px);
  display: block;
  position: absolute;
  right: calcRem(16px);
  top: calcRem(16px);
  z-index: 1;
}
.hero__bottom {
  height: calcRem(72px);
  width: 100%;
  background-color: $primary;
  position: relative;
  box-shadow: 0 calcRem(1px) calcRem(2px) rgba(0, 0, 0, 0.5);
}
.hero__top--bg {
  width: 376px;
  margin: auto;
}
.hero__bottom--bg {
  width: 376px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hero__video {
  position: absolute;
  z-index: 1;
}
.hero__top {
  position: relative;
  height: calcRem(112px);
  background-color: $gray--darker;
}
.hero__avatar {
  width: calcRem(88px);
  height: calcRem(117px);
  margin-left: calcRem(24px);
  position: relative;
  top: calcRem(56px);
  z-index: 1;
}
.hero__title {
  color: $secondary;
  font-family: $title-font;
  margin-top: 0;
  margin-bottom: 0;
  font-size: calcRem(18px);
  font-weight: 500;
  margin-top: calcRem(14px);
  margin-right: calcRem(24px);
  margin-bottom: calcRem(3px);
}
.hero__subtitle {
  font-family: $title-font;
  font-size: calcRem(12px);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  margin-right: calcRem(24px);
}
.hero__dialog {
  height: calcRem(34px);
  width: calcRem(144px);
  border-radius: calcRem(16px);
  background-color: $gray--lighter;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: calcRem(76px);
  left: calcRem(106px);
  z-index: 1;
  &::after {
    top: calcRem(34px);
    position: absolute;
    content: "";
    border-style: solid;
    border-width: calcRem(10px) calcRem(10px) 0 0;
    border-color: $gray--lighter transparent transparent transparent;
    left: calcRem(14px);
  }
}