.main-button {
  display: flex;
  align-items: center;
}
.main-button__link {
  height: calcRem(37px);
  text-align: center;
  font-family: $title-font;
  background-color: $fourth;
  font-size: calcRem(18px);
  border-radius: calcRem(2px);
  box-shadow: 0 calcRem(3px) 0 $fourth--dark;
  align-items: center;
  margin-top: calcRem(8px);
  margin-bottom: calcRem(8px);
  color: $gray--lighter;
  width: 100%;
  border: none;
  line-height: calcRem(37px);
  &:focus,
  &:hover {
    transition: all 0.1s;
    margin-top: calcRem(6px);
    outline: none;
    box-shadow: 0 calcRem(5px) 0 $fourth--dark;
    margin-bottom: calcRem(10px);
    line-height: calcRem(37px);
  }
  &:active {
    box-shadow: 0 calcRem(1px) 0 $fourth--dark;
    line-height: calcRem(42px);
    margin-bottom: calcRem(6px);
    margin-top: calcRem(10px);
  }
}