.tag__text {
  border-radius: calcRem(6px);
  border: solid calcRem(2px) $secondary;
  color: $secondary;
  margin: calcRem(8px);
  font-weight: 600;
  &:hover {
    color: $secondary;
    border: solid calcRem(2px) $secondary;
    cursor: pointer;
  }
  display: flex;
  padding: calcRem(8px);
}
.tag--disabled {
  border: solid calcRem(2px) $gray-2;
  color: $gray-2;
}